* {
    font-family: 'Quicksand';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;

}

button {
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9vh;
    border-bottom: 1px solid #CCCCCC;
    position: relative;
}


.navbar .logo {
    border: none;
    margin-left: 3.5%;
    background: transparent;
    font-size: 30px;
    font-weight: 1000;
}

.navbar .search-bar {

    position: absolute;
    left: 35%;
    width: 30%;
    display: flex;
    align-self: center;

}

form.search-bar input {
    padding: 10px;
    border: 1px solid #CCCCCC;
    width: 90%;
    font-size: 15px;
    border-right: none;
    background: transparent;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-weight: 1000;
}

form.search-bar button {
    width: 10%;
    color: #CCCCCC;
    border: 1px solid #CCCCCC;
    background: transparent;
    border-left: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.navbar .sign-button-container {
    margin-right: 3.5%;
    width: 20%;
    display: flex;
}

.sign-in {
    width: 49%;
    border: none;
    background: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 1000;
    padding: 5px;
    margin-right: 2px;
}

.sign-up {
    width: 49%;
    border: none;
    color: white;
    background-color: #8CC63E;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 1000;
    padding: 5px;
}

.intro-page {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-image: url(lemon.jpg);
    background-size: cover;

}


.intro-page .slogan {
    margin: 5%;
    margin-bottom: 0;
    font-size: 100px;
    font-weight: 1000;
    line-height: 100%;
}

.intro-page .intro-text {
    margin: 2% 50% 0 5%;
    font-size: 30px;
    font-weight: 1000;

}

.intro-page .get-start {
    margin: 3% 5%;
    height: 10%;
    width: 20%;
    border: none;
    color: white;
    background-color: #8CC63E;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 1000;
    padding: 5px;
}