* {
    font-family: 'Quicksand';
    font-weight: 900;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    justify-content: center;
    display: flex;

    background-color: #F8F8F8;

}

.login-box {
    width: 38%;
    height: 74%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* height: 27%; */
    margin-bottom: 10%;
    font-size: 60px;
}

.login-form {
    width: 100%;
    /* height: 56.25%; */
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin-bottom: 5.625%;
    font-size: 24px;
    border: 1px solid #CCCCCC;
    padding: 10% 10%;
    background: transparent;
    border-radius: 15px;
    background-color: white;
}


input {
    width: 100%;
    height: 18%;
    border-radius: 5px;
    border-color: #CCCCCC;
    padding: 15px;
    font-size: 20px;
}


.sign-in-button {
    height: 20%;
    border: none;
    color: white;
    background-color: #8CC63E;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 1000;
    padding: 5px;

    cursor: pointer;
}

.new-user {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #CCCCCC;
    background: transparent;
    padding: 5% 10%;
    border-radius: 15px;
    /* flex: 1; */
    font-size: 20px;
    background-color: white;
}